<!----------------------Llamado a la acción Prepaga--------------------->

<div class="prepagaF">

    <img src="/assets/prepaga.jpg" alt="foto Andes prepaga">
    <span>¡Ser precavido está en usted,<br> y Andes está para usted! <br>¡Asóciese!<br><br>
      <button type="button" class="btn btn-success">Más información</button></span>
    <img src="/assets/SepelioFamiliar.jpg" alt="">




  </div>


  <!---------------------------------------->

  <!------------------Footer------------------->



  <div class="footer">

    <div>
      <i class="fas fa-map-marked-alt"></i><br>

      <h3>Casa central</h3>
      <p>

        Juan B. Justo 1786,Godoy Cruz, Mendoza <br>

        Teléfono: 261 427 3979 <br>


        Teléfono celular: 261 598-558


      </p>


    </div>




    <div>

      <a href=""> <i class="fab fa-facebook"></i></a><br>
      <a href=""><i class="fab fa-facebook-messenger"></i></a><br>
      <a href=""><i class="fab fa-whatsapp-square"></i></a><br>
      <a href=""><i class="fab fa-instagram-square"></i></a><br>
      <br>
      
    
    </div>


<!-----------
    <div>
      <i class="fas fa-map-marked"></i><br>

      <h3>Sucursal</h3>
      <p>
        Paso de los Andes 1368, Godoy Cruz, Mendoza <br>

        Teléfono:261 427 1057


      </p>
    </div>

  ----->



  </div>





  <!-------------------------------------------->


 
 
    
  <script src="/javascripts/scripts.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
 <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>


</body>
<footer>

</footer>



</html>