<body>

    <header>
  
  
  
  
      <nav class="principal">
        <!-- Navbar content ---style="background-color: #e3f2fd;-->
  
        <div class="navbar ">
  
  
  
          <span class='bienvenido'><i class="fas fa-door-open"></i>¡Bienvenid@!</span>
  
  
  
        <img src="/assets/logo2.png" alt="logo" class="logo">
  
           <!-- <img src="assets/logo.jpeg" alt="logo" class="logo">--->

          <form>
            <input class="borderSearch" type="search" placeholder="Registro de óbito por nombre">
            <button type="submit" class="searchButton">Buscar <i class="fas fa-search"></i>
            </button>
          </form>
  
  
        </div>
  
  
  
  
        <div class="menu" id="menuLink">
          <ul>
  
            <li><a href='/'><i class="fas fa-home"></i> Home</a></li>
            <li><a href='/servicios'><i class="fab fa-servicestack"></i> Servicios</a></li>
            <li><a href='/acercaDe'><i class="fas fa-address-card"></i> Acerca de nosotros</a></li>
            <li><a href='/galeria'><i class="far fa-file-image"></i> Galeria</a></li>
  
  
          </ul>
  
  
  
        </div>
  
        <div class="menu2" id="menuLink">
          <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-ligth p-4">
              <h5 class="text-white h4">
  
                <ul>
  
                  <li><a href='/'><i class="fas fa-home"></i> Home</a></li>
                  <li><a href='/servicios'><i class="fab fa-servicestack"></i> Servicios</a></li>
                  <li><a href='/acercaDe'><i class="fas fa-address-card"></i> Acerca de nosotros</a></li>
                  <li><a href='/galeria'><i class="far fa-file-image"></i> Galeria</a></li>
        
  
  
                </ul>
  
  
              </h5>
              <span class="text-muted"></span>
            </div>
          </div>
          <nav class="navbar navbar-dark bg-ligth">
            <!---era bg-dark-  y con navbar-toggler en siguiente renglón camibio color boton---->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
              aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span> <i class="fas fa-bars"></i></span>
              <!--<span class="navbar-toggler-icon"></span>--->
            </button>
          </nav>
        </div>
  
      </nav>
  
  
    </header>
  
  
  