<body>

  <header>




    <nav class="principal">
      <!-- Navbar content ---style="background-color: #e3f2fd;-->

      <div class="navbar ">



        <span class='bienvenido'><i class="fas fa-door-open"></i>¡Bienvenid@!</span>



        <img src="/assets/logo2.png" alt="logo" class="logo">

        <!-- <img src="assets/logo.jpeg" alt="logo" class="logo">--->

        <form action="obituarios/search" method="GET">
          <input class="borderSearch" type="search" placeholder="Registro de óbito por apellido" name="keyword">
          <button type="submit" class="searchButton">Buscar <i class="fas fa-search"></i>
          </button>
        </form>


      </div>




      <div class="menu" id="menuLink">
        <ul>

          <li><a href='/'><i class="fas fa-home"></i> Home</a></li>
          <li><a href='/servicios'><i class="fab fa-servicestack"></i> Servicios</a></li>
          <li><a href='/acercaDe'><i class="fas fa-address-card"></i> Acerca de nosotros</a></li>
          <li><a href='/galeria'><i class="far fa-file-image"></i> Galeria</a></li>


        </ul>



      </div>

      <div class="menu2" id="menuLink">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-ligth p-4">
            <h5 class="text-white h4">

              <ul>

                <li><a href='/'><i class="fas fa-home"></i> Home</a></li>
                <li><a href='/servicios'><i class="fab fa-servicestack"></i> Servicios</a></li>
                <li><a href='/acercaDe'><i class="fas fa-address-card"></i> Acerca de nosotros</a></li>
                <li><a href='/galeria'><i class="far fa-file-image"></i> Galeria</a></li>



              </ul>


            </h5>
            <span class="text-muted"></span>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-ligth">
          <!---era bg-dark-  y con navbar-toggler en siguiente renglón camibio color boton---->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span> <i class="fas fa-bars"></i></span>
            <!--<span class="navbar-toggler-icon"></span>--->
          </button>
        </nav>
      </div>

    </nav>

    <section class="contacto">

      <a
        href="https://api.whatsapp.com/send?phone=5492615985582&text=Quisiera%20informaci%C3%B3n%20sobre%20el%20servicio%20f%C3%BAnebre%20-%20la%20prepaga...(tachar%20lo%20que%20no%20corresponda)  ">
        <span><i class="fab fa-whatsapp"></i></span>
      </a>
      <br><br>
      <% if ( typeof userLogged != 'undefined' ) { %>

        <a href="/logout" style='font-size: 2em;'> <i class="fas fa-sign-out-alt"></i></a> <br>
        <a href="/dashboard" style='font-size: 2em;'><i class="fas fa-chart-line"></i></a>

        <% } %>



      <script>

        let whatsApp = document.querySelector(".fa-whatsapp");

        setInterval(function () {
          whatsApp.addEventListener("mouseover", function () {


            this.style.fontSize = "3em"

          })

          whatsApp.addEventListener("mouseout", function () {


            this.style.fontSize = "2.5em"



          })

        }, 1000)




      </script>

      <!---
      <a href="https://www.facebook.com/" >
        <span><i class="fas fa-share-alt"id='compartir'></i></span></a>



      ---->
     

    </section>



  </header>