<%- include("partials/head")%>

<%- include("partials/header")%>

<!------------------------------------------------------->

<div class="container" id="nuestra-historia">

    <div class="row" id="margen-top">

        <div  class="col-12">


            <h3>
                Nuestra Historia
            </h3>
        </div>

        <div class="col-12 col-md-6" style="width:30%; padding-top:10px;">

            <img src="assets/homeFoto.jpg" alt="foto dueños cocheria" style="width:100%">
        </div>

        <div class="col-12 col-md-6" style="width:30%; padding-top: 45px;">

            
            <p>
                La empresa fue fundada el primero de mayo de 1980 por Don Carlos Juan Nodari y Mirta Caballero, su
                esposa.
            </p>

            <p>
                Ambos abrieron sus puertas, en el departamento de Godoy Cruz, Villa Hipódromo, iniciando así el negocio
                familiar, brindando contención y asistencia integral a las familias ante la difícil situación de la
                partida de un ser querido.
            </p>

            <p>
                Más de 40 años avalan nuestra experiencia y dedicación en el rubro.
            </p>

            <p>
                Actualmente dirige la empresa el matrimonio de Susana Nodari, hija de los fundadores de la empresa, y
                José Costa su esposo.

            </p>

        </div>

        <div class="col-12" >

            <h3>
                Quienes somos:
            </h3>


            <p>
                Somos una empresa dedicada a brindar Servicios Fúnebres:
            <ul>
                <li>
                    servicio de sepelio,
                </li>

                <li>
                    servicio de velatorio,
                </li>

                <li>
                    traslado,
                </li>

                <li>
                    cremación,
                </li>

                <li>
                    realización de trámites legales, etc.;

                </li>
            </ul>
            Somos una empresa pionera desde 1980, contando con más de 30 años de experiencia en la atención
            personalizada con calidad de excelencia para nuestros clientes, logrando satisfacer la necesidad
            urgente con la que se presentan nuestros asiduos.

            </p>

            <h3>
                Nuestra Misión:

            </h3>

            <p>
                Ofrecer un servicio óptimo a nuestros clientes, comprendiendo el
                momento de dolor que atraviesan con el deceso de un ser querido;
                estableciendo sentimientos de confianza, seguridad y honestidad, y sobretodo actuando con
                responsabilidad y eficacia.
            </p>

            <h3>
                Cómo lo logramos:
            </h3>

            <p>
                Trabajando de forma cotidiana y permanente para mejorar nuestra aptitud de servicio.

                Hoy contamos con vehículos adaptados para realizar nuestra labor:

            <ul>
                <li>
                    Furgones sanitarios de traslado,
                </li>
                <li>
                    Carrozas y coches de acompañamiento de última generación a disposición de los familiares o
                    allegados de la persona fallecida.
                </li>
                <li>
                    También disponemos de salas velatorias asociadas en toda la provincia para ofrecer mayor
                    comodidad de cercanía a nuestros clientes.

                </li>
            </ul>
            </p>






        </div>



        <div class="col-12" id="video-historia">

            <h3>

                Nuestra trayectoria en fotos
            </h3>
            <figure>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/H7nYQp0ofSY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
             gyroscope; picture-in-picture" allowfullscreen></iframe>

            </figure>

        </div>

<!---------------------------------------------------------------------------------->
    </div>


</div>




<!-------------------------------------------------------->

<%- include("partials/footer")%>