
        <!------------------------------------------>


        <!------------------------------------------------------------>

        

        <!------------------------Pedifacil------------------------------------->


        <div class="box-carrito">
      
        
            <div class="carrito-left">

                <div id="pedidoT">

                    <span>Canva</span>
                    <span>Nombre </span>
                    <span>Apellido</span>
                    <span>Fecha</span>
                    <span>Eliminar</span>

                </div>




                <div id="pedido">


                    <span class="nombreV">
                        <img class="itemImage" src="/assetes/obitos/" alt="imagen de producto">
                        <br>

                    </span>


                    <span style="margin-left:px"> nombre </span>



                    <!---------------------------------------->


                    <span>


                        Apellido

                    </span>



                    <span>


                        Fecha

                    </span>
                    <!------------------------------------------------>



                    <form class="cart-item_delete" action=" " method="POST"><button type="submit"><i
                                class="fas fa-trash-alt"></i></button></form>

                </div>


            </div>

      

        
            

            <!-----------------fin row-->
        </div>













        <!-------------------------------------------------------->

        